services:
  db:
    ports:
      - "5432:5432"

  django:
    env_file: .env
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
    ports:
      - "8000:8000"
